*{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: medium;
    margin: 0;
    padding: 0;
}


body{
    background: #f2f2f2;
}

.container{
    display: grid;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    grid-gap: 0.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto) 1fr;
    grid-template-areas: 
            "nav nav nav nav"
            ". panel adresacja ."
            ". podsumowanie podsumowanie .";        
}

.nav{ 
    grid-area: nav;
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo . nav_panel nav_panel"
}

.logo{
    grid-area: logo;
    align-items: center;
    margin-left: 4vh;
    display: flex;
    float: left;
    text-align: left;
    width: 100%;
    color: black;
}

.logo i{
    font-size: xx-large;
    font-weight: bolder;
    color: #ff6b6b;
}

.logo h2{
    font-size: x-large;
    margin-left: 1vh;
    font-weight: bold;
    border-bottom: 2px solid #ff6b6b;
}

.nav_panel{
    grid-area: nav_panel;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    float: left;
    text-align: left;
    width: 100%;
}

.nav_panel a{
    width: 22%;
    border:0.15em solid white;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 1vh;
}

.nav_panel i{
    color: #ff6b6b;
    font-size: larger;
}

.nav_panel button{
    width: 100%;
    border:0.15em solid white;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 1vh;
}

.wyloguj i{
    color: black;
}

.podsumowanie{
    grid-area: podsumowanie;
    background: white;
    color: black;
    display: grid;
    overflow-y: scroll;
    max-height: 400px;
    border-radius: 1rem;
}

.panel{
    grid-area: panel;
    color: black;
    background-color: white;
    padding: 1vh;
    border-radius: 1rem;
}

.panel h1{
    font-size: xx-large;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 1vh;
}
.panel button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: larger;
    margin-right: 1vh;
}

.adresacja{
    grid-area: adresacja;
    color: black;
    background-color: white;
    padding: 1vh;
    border-radius: 1rem;
    height: min-content;
}

.adresacja form{
    display: flex;
    flex-direction: column;
}

.adresacja label{
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    font-size: large;
    padding: 0.5vh;
}

.adresacja input{
    width: 100%;
    padding: 1vh;
    padding-left: 1vh;
    border-radius: 1rem;
    outline: none;
    box-sizing: border-box;
    background-color: white;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.adresacja .adresacja_button input
{
    width: 100%;
    padding: 1vh;
    border:0.15em solid #ff6b6b;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: normal;
    text-align: center;
    border-radius: 1rem;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.podsumowanie h1{
    font-size: x-large;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 1vh;
    
}

.suma{
    display: flex;
    float: left;
    text-align: left;
    width: 100%;
    justify-content: space-between;  
    align-items: center;
}

.suma .suma_suma{
    font-size: x-large;
    font-weight: bold;
}

.suma h2{
    color: grey;
    font-weight: lighter;
}


.suma input{
    width: 100%;
    padding: 1vh;
    border:0.15em solid #ff6b6b;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: normal;
    text-align: center;
    border-radius: 1rem;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.towar{
    display: flex;
    float: left;
    text-align: left;
    width: 100%;
    justify-content: space-between;  
    align-items: center;
    border-bottom: 1px solid rgb(173, 173, 173);
    border-top: 1px solid rgb(173, 173, 173);
    margin-bottom: 1vh;
}

.towar h2{
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    font-size: large;
}

.historia{
    border-bottom: 1px solid #333333;
    font-weight: lighter;
    padding: 1vh;
}

@media only screen and (max-width: 768px)
{
    *{
        font-size: small;
        font-weight: 400;
        margin: 0;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
                "nav"
                "panel"
                "adresacja"
                "podsumowanie";
    }

    .nav{
        grid-area: nav;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo logo"
            "nav_panel nav_panel";

    }

    .nav .nav_panel{
        justify-content: center
    }

    .nav .logo{
        justify-content: center;
        margin-left: 0;
    }
    
}
