*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

body{
    background: rgb(226, 223, 223);
}

header{
    width: 100%;
    height:70px;
    background: rgb(192, 192, 192);
    box-shadow: 2px 2px 5px 2px grey;
    border-radius: 10px;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-flex;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: black;
    text-decoration: none;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px 5px grey;
}

.form .tab-header{
    height: 50px;
    line-height: 50px;
}

.form .tab-header > div{
    width: 50%;
    float: left;
    text-align: center;
    background: rgb(192, 192, 192);
    color: black;
    cursor: pointer;
}

.form .tab-header > div.active {
    background: rgba(255, 255, 255, 0);;
    color: black;
}

.form .tab-content{
    padding: 20px;
}

.form .tab-content .form-element{
    margin: 10px 0px;
}

.form .tab-content .form-element input{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    background: white;
    border-radius: 10px;
    outline: none;
}

.form .tab-content .form-element button{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgb(192, 192, 192);
    font-size: 16 px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.75s;
}

.form .tab-content .form-element button:hover{
    opacity: 1;
    background-color: rgb(170, 223, 170);
}

.form .tab-content > div.active {
    display: block;
}

.form .tab-content > div {
    display: none;
}

.form i{
    text-align: center;
    color: rgb(0, 0, 0);
}

.profile-img{
    font-size: 65px;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 90%;
    transform: translate(-50%, -50%);
    color: black;
}

.form2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px 5px grey;
}

.form3{
    position: relative;
    transform: translate(70%,150%);
    width: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px 5px grey;
}

.tablee{
    display: block;
border-collapse: collapse;
   background: rgba(255, 255, 255, 0.5);
   box-shadow: 0px 5px 5px 0px grey;
   overflow-y: scroll;
   max-height: 400px;
}

.tab-content button{
    width: 100%;
    text-align: center;
    border: none;
    margin: 0px;
    padding: 0px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    background: rgba(192, 192, 192, 0.295);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.75s;
}

.tab-content button:hover{
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.589);
}

 .tab-content .tablee button{
    width: 100px;
    padding: 8px;
    border: none;
    margin: 0px;
    height: auto;
    outline: none;
    font-size: 16 px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.75s;
 }

 .tab-content .tablee button:hover{
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.589);
}

 .tab-content .tablee thead{
     border-bottom: 1px dashed grey;
 }

 .tab-content .tablee thead tr td{
    font-size: 16px;
    letter-spacing: 1px;
    color: grey;
    padding: 8px;
    width: 180px;
}
tr:nth-child(even) {background-color: rgba(128, 128, 128, 0.089);}

.tab-content .tablee tr td{
    padding-left: 8px;
}
 
.tab-content input{
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    border: none;
    font-size: 16px;
    background: white;
    border-radius: 10px;
    outline: none;
}

h1{
    font-size: 18px;
    margin: 2px;
    margin-top: 5px;
    margin-left: 50px;
}

.czerwony button:hover{
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.400);
}

.guzik{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border: none;
    margin: 0px;
    padding: 7px;
    font-size: small;
    height: 30px;
    margin-top: 10px;
    outline: none;
    background: rgba(192, 192, 192, 0.295);
    text-transform: uppercase;
    font-size: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.75s;

}

.guzik:hover{
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.589);
}

.guzik2{
    padding: 5px;
    transition: 0.75s;
}
.guzik2:hover{
    opacity: 1;
    color: rgb(0, 124, 124);
}