*{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: medium;
    margin: 0;
    padding: 0;
}

body{
    background: #f2f2f2;
}


.container{
    display: grid;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto) 1fr;
    grid-template-areas: 
            "nav nav nav nav nav"
            "tag search search produkt produkt"
            "tag tabela tabela produkt produkt"
            "tag  tabela tabela produkt produkt"
            "tag  tabela tabela produkt produkt";
}

.tabela{ 
    grid-area: tabela;
    padding-top: 1vh;
    background-color: white;
}
.produkt{ 
    grid-area: produkt;
    background: white;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
            "obraz "
            "nazwa"
            "opis "
            "cena "
            "ilosc"
            "kup";
}

.produkt .produkt_panel{
    margin: 1vh;
}

.nazwa{
    grid-area: nazwa;
    font-weight: bold;
    font-size: xx-large;
}
.nazwa h1{
    font-weight: 500;
    color: #47a358;
    letter-spacing: 1px;
}

.obraz{
    grid-area: obraz;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.opis{
    grid-area: opis;
    font-weight: lighter;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    color: grey;
}
.cena{
    grid-area: cena;
    font-size: x-large;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ilosc{
    grid-area: ilosc;
    font-weight: lighter;
    font-size: small;
    display: flex;
    align-items: center;
}
.kup{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.kup form{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.kup .kup_b button{
    width: 100%;
    padding: 1vh;
    border:0.15em solid #333333;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: 300;
    border-radius: 1rem;
    background-color: #333333;
    color: white;
}

.kup .kup_a{
    width: 10%;
    align-items: center;
    justify-content: center;
    display: block;
    float: left;
}

.kup .kup_b{
    width: 80%;
    align-items: center;
    justify-content: center;
    display: block;
    float: left;
}

.kup input{
    width: 90%;
    padding: 1vh;
    border:0.15em solid #333333;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: 300;
    border-radius: 1rem;
    background-color: white;
    color: #333333;
}


.nav{ 
    grid-area: nav;
    background: white;
    color: white;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo . panel panel"
}

.logo{
    grid-area: logo;
    align-items: center;
    margin-left: 4vh;
    display: flex;
    float: left;
    text-align: left;
    width: 100%;
    color: black;
}

.logo i{
    font-size: xx-large;
    font-weight: bolder;
    color: #47a358;
}

.logo h2{
    font-size: x-large;
    margin-left: 1vh;
    font-weight: bold;
    border-bottom: 2px solid #47a358;
}

.panel{
    grid-area: panel;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    float: left;
    text-align: left;
    width: 100%;
    color: black;
}

.panel i{
    color: #ff6b6b;
    font-size: larger;
}

.wyloguj i{
    color: black;
}

.panel form{
    display: flex;
    justify-content: center;
}

.panel .uzytkownik{
    display: flex;
    font-size: large;
}

.panel a{
    width: 22%;
    border:0.15em solid white;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 1vh;
}


.panel button{
    width: 100%;
    border:0.15em solid white;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 1vh;
}


.tag{
    grid-area: tag;
    background: white;
    display: flex;  
    flex-direction: column;
}


.tag h1{
    font-size: x-large;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 1vh;
}

.tag .kategorie{
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.search{
    grid-area: search;
    background: white;
    justify-content: center;
    display: flex;  
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    align-items: center;
    
}

table{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.tabela tbody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1vh;
    align-items: center;
    width: 100%;
}

tr{
    margin: 1vh;
    background-color: white;
    padding: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #f2f2f2;
}

tr td{
    width: 100%;
    height: 100%;
}

.search form{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 1vh;
}

.search .col_big{
    align-items: center;
    justify-content: center;
    display: block;
    float: left;
    width: 70%;
}

.search form .col_big input{
    width: 90%;
    padding: 1vh;
    border:0.15em solid #FFFFFF;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: 600;
    font-size: medium;
    border-radius: 3rem;
    background-color: #F8F8F8;
}

.search form .col_big input::placeholder{
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: large;
}

.search .col{
    align-items: center;
    justify-content: center;
    display: block;
    float: left;
    width: 30%;
}
.search .col button{
    width: 90%;
    padding: 1vh;
    border:0.15em solid #FFFFFF;
    outline: none;
    justify-content: center;
    cursor: pointer; 
    -webkit-appearance: none;
    font-weight: 600;
    font-size: large;
    border-radius: 3rem;
    background-color: #F8F8F8;
    color: #333333;
}

.tag .guzik2{
    display:inline-block;
    padding: 0.75vh;
    border: 2px solid #57c96c;
    box-sizing: border-box;
    color:white;
    background-color:#57c96c;
    text-align:center;
    width: auto;
    justify-content: center;
    cursor: pointer; 
    text-decoration: none;
    font-size: lighter;
    border-radius: 1rem;
    font-weight: normal;
    margin: 0.2vh;
}

.tag .guzik2:nth-of-type(odd){
    border: 2px solid #47a358;
    background-color:#47a358;
}

.tabela .produktinfo{
    margin-top: 0.5rem;
}

.tabela .produktinfo i{
    position: relative;
    text-align: right;
}
.tabela .produktnaz{
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

.tabela .produktcena{
    text-align: right;
    display: flex;
    font-size: large;
    font-weight: lighter;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    color: black;
}

.tabela .produktcena h2{
    color: grey;
    font-weight: lighter;
}

.tabela h1{
    font-size: xxx-large;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 1vh;
}



@media (max-width: 1384px)
{

    .container{
        display: grid;
        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
        grid-template-areas: 
                "nav nav nav nav nav"
                "tag search search search search"
                "tag tabela tabela tabela produkt"
                "tag tabela tabela tabela produkt"
                "tag tabela tabela  tabela produkt";
    }

    .tabela tbody{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1vh;
        align-items: center;
        width: 100%;
        
    }
}

@media (max-width: 1200px)
{

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                "nav nav"
                "tag search"
                "produkt  tabela"
                "produkt  tabela"
                "produkt tabela";
    }

    .tabela tbody{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1vh;
        align-items: center;
        width: 100%;
        
    }
}

@media only screen and (max-width: 970px)
{

    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "tag"
        "search"
        "produkt"
        "tabela";
    }

    .tabela tbody{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1vh;
        align-items: center;
        width: 100%;
        
    }
    .nav{ 
        grid-area: nav;
        background: white;
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo logo"
            "panel panel";
    }

    .nav .panel{
        justify-content: center
    }

    img{
        width: 100px;
        height: 100px;
    }
    .produkt img{
        width: 150px;
        height: 150px;
    }

    .nav .logo{
        justify-content: center;
        margin-left: 0;
    }

}

@media only screen and (max-width: 670px)
{
    *{
        font-size: small;
        font-weight: 400;
        margin: 0;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "tag"
        "search"
        "produkt"
        "tabela";
    }

    .tabela tbody{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1vh;
        align-items: center;
        width: 100%;
        
    }

    img{
        width: 100px;
        height: 100px;
    }
    .produkt img{
        width: 150px;
        height: 150px;
    }
    .nav{ 
        grid-area: nav;
        background: white;
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo logo"
            "panel panel";
    }

    .tabela h1{
        font-size: x-large;
    }

    .nav .panel{
        justify-content: center
    }

    .nav .logo{
        justify-content: center;
        margin-left: 0;
    }
    
}
